// $activeColor:#fff;
// $bgColor:#000;
// $leftColor:#888;
// $bgColor:#444;
// $defColor:#ccc;
$activeColor:dodgerblue;
$defColor:#333;
$bgColor:#fff;
$borderColor:#ddd;

$topH : 50px;
$leftWidth:260px;
$leftAHeight:35px;
*{margin: 0; padding: 0;box-sizing: border-box;}
:global {
  html , body, .height100, .clear_app{height: 100%;}
  body{font-family: "Microsoft YaHei", "Hiragino Sans GB";line-height: 1.5; font-size: 16px}
  ul, ol { list-style: none; display: block}
  a { text-decoration: none;cursor:pointer;}
  input{padding-left:.5em}
  hr{border-color: #fff}

  a.clear-tree-node{
    padding-left:10px;
    font-size: 1.5em;
    height: 35px;line-height: 35px;
    //display: flex!important;
    justify-content: space-between;
    align-items: center;
  }
  // .clear-triangle{
  //   display: block;
  //   width: 0;
  //   height: 0;
  //   content: "";
  //   border: 5px solid;
  //   border-left-color: $defColor;
  //   border-top-color: transparent;
  //   border-bottom-color: transparent;
  //   border-left-color: transparent;
  //   margin-right: 4px;
  // }
  a.clear-tree-node:hover, a.clear-tree-node:active, a.clear-tree-node-active{
    color:$activeColor!important;
  }
  .clear-reload{
    margin-right: 4px;padding: 3px;display: none;
  }

  .markdown-body{width: 980px;padding:45px;margin: 0 auto;}
  .clear-index{
    display: flex; justify-content: center;
  }
  .clear-index>ul{
    padding: 0;
  }
  // a.clear-tree-node:after{
  //   content: "/";
  // }
  // a.clear-tree-node-active .clear-triangle{
  //   border-top-color: $activeColor;
  //   border-right-color: transparent;
  //   border-bottom-color: transparent;
  //   border-left-color: transparent;
  // }
  // a.clear-tree-node + ul{
  //   display: none;
  // }
  // a.clear-tree-node-active + ul, a.clear-tree-node-open + ul{
  //   display: block;
  // }

  // .clear-tree-node-fold{
  //   padding-left:10px;
  //   color:$defColor;
  //   height: 35px;line-height: 35px;
  // }
}

.btn{padding:5px 10px;cursor: pointer}
.loginBox{width: 400px; height: 200px;margin:auto; position: absolute;
  left:0; right:0; background: #eee;top:0; bottom:0;padding:10px;}
.loginBox .btn{margin-top: 5px;float: right}
.loginBox_title{text-align: center; padding: 5px;font-size:1.3em}
.loginBox input{width:80%; display: block;margin:10px auto;height: 35px;}

.homeTitle{position: absolute; top:0; bottom:0; width: 100%; text-align: center;
   margin: auto; height: 200px;font-size: 30px;}
.homeTitle big{font-size: 100px;}
.homeTitle small{font-size: 33px;}
.homeTitle a{color:$defColor;}

.topNavWarp{
  padding-left: $leftWidth;padding-right: $leftWidth;
  height:$topH;line-height: $topH;position: fixed; top:0;font-size:1.2em;
  left:0;z-index: 2;width: 100%;
  background-color:$bgColor;
}
.topNavWarp a:hover{
  color:$activeColor;
}
.title{
  padding:0 10px;
  left:0;
  color:$defColor;
  width: $leftWidth;
  position: absolute;
  overflow: hidden;
  font-size:1.2em;
}
.title_name{
  margin-left: 10px;
  // padding: 3px; 
  // background-color: #000;
  // color:#fff;
}
.title.active, .title_name.active{
    color: $activeColor;
  }
.topNav{padding-left: 20px}
.topNav a{color:$defColor; display: block;float: left; margin:0 10px;padding: 0 20px}
.topNav a.active, .topNav a:hover{background: $bgColor; color:$activeColor}
.topRightBar {right:0px;font-size: 16px;position: absolute;color:$defColor;padding-right:40px;height: 100%;}
.topRightBar a.githubIcon{float: right;position: absolute;right: 0;top:0;height: 100%;padding:0 5px}
.topRightBar .githubIcon img{
  width:20px;height: 20px;vertical-align: middle;opacity: .15;
}
.loginBar a{color: $defColor; padding:5px 10px;margin-right:10px;}

.bottomWarp{
  border-top:($topH + 1) solid $borderColor;
  height: 100%;
  position: relative;
}
//.bottomWarp>:global(.markdown-body){width: 980px;padding:45px;margin: 0 auto;}

.mainWarp{
  padding-left:$leftWidth;
  width:100%; position: relative;
  height: 100%;
}
//.mainWarp>:global(.markdown-body){padding:10px 40px 80px;}
.main hr{margin: 10px 0;}
.leftNav{width: $leftWidth;
  height: 100%;position: fixed;
  top:$topH + 1;
  left:0;z-index: 2;
  padding-top: 10px;
  border-right: 1px solid $borderColor;
  background-color: $bgColor
}
.leftNav a{
  color:$defColor;
  display: block;
  height: $leftAHeight;
  line-height: $leftAHeight;
  padding-left:10px;
}
.leftNav li{display: block;};
.leftNav>ul ul{margin-left: 1em}
.leftNav a.active, .leftNav a:hover{color:$activeColor}
