* {
  box-sizing: border-box;
}
body{
  margin:0;
  font-family : "Microsoft YaHei", "Hiragino Sans GB", "Courier new";
}

.local{border-bottom: 1px solid #888;  padding: 50px;}
.local b{font-size: 2em}
.local button{margin:5px}
.local span{font-size: 14px; color:#666}
