$navheight: 50px;
* {
  box-sizing: border-box;
}
body{
  margin:50px;
  font-family : "Microsoft YaHei", "Hiragino Sans GB", "Courier new";
}
:global{
  html, body, .root{height:100%}
  .top{height:$navheight;position: fixed;width:100%;}
  .bottom{height:100%;padding-top:$navheight; position: relative}
}
.test b{font-size: 2em}
.test button{margin:5px}
.test span{font-size: 14px; color:#666}
