<!DOCTYPE html>
<html>
<% var data = htmlWebpackPlugin.options.indexData %>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <link rel="shortcut icon" href="<%=data.BASE_STATIC %>/static/favicon.png">
    <title>clear前端架构</title>
  </head>
  <body>
  <div id="app" class="clear_app"></div>
  <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
  <script>
  var SERVER_CONFIG = <%=JSON.stringify(data)%>
  </script>
</body>
</html>
