<!DOCTYPE html>
<html>
<% var data = htmlWebpackPlugin.options.indexData %>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <link rel="shortcut icon" href="<%=data.BASE_STATIC %>/static/favicon.png">
    <link href="https://cdn.bootcss.com/github-markdown-css/2.8.0/github-markdown.min.css" rel="stylesheet" />
    <link href="https://cdn.bootcss.com/highlight.js/9.12.0/styles/github.min.css" rel="stylesheet" />
    <title>clear文档系统</title>
  </head>
  <body>
  <div id="app" class="clear_app"></div>
  <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdn.bootcss.com/markdown-it/8.4.0/markdown-it.min.js"></script>
  <script src="https://cdn.bootcss.com/highlight.js/9.12.0/highlight.min.js"></script>
  <script src="https://cdn.bootcss.com/highlight.js/9.12.0/languages/javascript.min.js"></script>
  <script>
  var SERVER_CONFIG = <%=JSON.stringify(data)%>
  </script>
</body>
</html>
