<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <link rel="shortcut icon" href="<%=htmlWebpackPlugin.options.publicPath %>/static/favicon.png">
    <title>clear前端架构</title>
  </head>
  <body>
  <div id="app" class="height100" public-path="<%=htmlWebpackPlugin.options.publicPath %>"></div>
</body>
</html>
